@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@layer components {
  .container {
    @apply mx-auto px-4 lg:px-0 w-full max-w-[930px];
  }
}

.bg-gradient {
  background: linear-gradient(
    269.96deg,
    rgba(46, 182, 204, 0.08) 0.03%,
    rgba(213, 240, 245, 0) 99.96%
  );
  border-radius: 11.1944px;
}
