@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@layer components {
  .container {
    @apply mx-auto px-4 lg:px-0 w-full max-w-[930px];
  }
  .section-margin {
    @apply mb-20 md:mb-[150px];
  }
}

.bg-gradient {
  background: linear-gradient(
    269.96deg,
    rgba(46, 182, 204, 0.08) 0.03%,
    rgba(213, 240, 245, 0) 99.96%
  );
  border-radius: 11.1944px;
}

.fade-in-top {
  opacity: 0;
  animation: fade-in-top 1s ease-in-out forwards;
}

.fade-in-top-12s {
  opacity: 0;
  animation: fade-in-top 1.2s ease-in-out forwards;
}

.fade-in-top-15s {
  opacity: 0;
  animation: fade-in-top 1.5s ease-in-out forwards;
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
